:root
{
    --primary-color: white;
    --second-color: rgb(254, 195, 9);
    --three-color: rgb(219, 31, 37);
    --four-color: black;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
    /* logo y menu de navegación */
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
}
header .logo
{
    position: relative;
    display: inline-block;
}
header img
{
    width: 100px;
}
header a
{
    user-select: none;
}
header ul
{
    display: flex;
    position: relative;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    font-weight: 800;
    font-size: 2rem;
    margin-left: 10px;
    padding: 8px 10px;
    text-decoration: none;
    user-select: none;
    color: var(--three-color);
    overflow: hidden;
    transition: all .7s ease;
}
header ul li a.active,
header ul li a:hover
{
    color: var(--primary-color);
    background: var(--three-color);
    border-radius: 30px;
}
    /* Cuerpo de la página */
body::-webkit-scrollbar
{
    width: 1rem;
}
body::-webkit-scrollbar-thumb
{
    background: var(--second-color);
    border-radius: 10px;
}
body
{
    background: var(--primary-color);
}
/* centrar contenido */
.bigcontenedor
{
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
p
{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
/* estilo a los iconos */
.redesociales
{
    margin: 50px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redesociales li
{
    list-style: none;
}
.redesociales li a
{
    position: relative;
    display: flex;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    color: var(--second-color);
    background: var(--three-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    box-shadow: 0px 10px 7px 0px var(--four-color);
    font-size: 25px;
    transition: all .8s ease;
}
.redesociales li a:hover
{
    background: var(--second-color);
    box-shadow: 0px 0px 0px 0px;
    transform: translateY(-10px);
}
.redesociales li a:hover .fa
{
    color: var(--three-color);
}
/* pie de la página */
footer
{
    width: auto;
    height: auto;
    font-weight: bold;
    background: var(--three-color);
    color: var(--primary-color);
}
footer p
{
    text-align: center;
    font-size: 2.1rem;
}