@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root
{
    --primary-color: white;
    --second-color: rgb(254, 195, 9);
    --three-color: rgb(219, 31, 37);
    --four-color: black;
    --five--color: rgba(128, 128, 128, 0.5);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
html
{
    font-size: 62.5%;
    
}
    /* Logo y Menu de navegación */
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    background: var(--primary-color);
}
header .logo
{
    position: relative;
    display: inline-block;
}
header img
{
    width: 100px;
}
header a
{
    user-select: none;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    font-weight: 800;
    font-size: 2rem;
    margin-left: 10px;
    padding: 8px 10px;
    text-decoration: none;
    user-select: none;
    color: var(--three-color);
    transition: all .5s ease;
}
header ul li a.active,
header ul li a:hover
{
    color: var(--primary-color);
    background: var(--three-color);
    border-radius: 30px;
}
    /* Encabezado Categorias */
.categorias
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.categorias a
{
    color: var(--five--color);
    margin: 10px 20px;
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
    transition: all 1s ease;
}
.categorias a:hover
{
    transform: scale(1.3);
}
.categorias .active, a
{
    color: var(--five--color);
}
.categorias .active, a:hover
{
    color: var(--four-color);
}
    /* Titulos */

.contexto
{   
    margin-top: 120px;
    height: auto;
    width: auto;
    background-size: cover;
    background-position: center;
    background: var(--second-color);
    background-attachment: fixed;
    overflow: hidden;
}
.contexto h2
{
    top: 0;
    padding: 100px;
    text-align: center;
    font-size: 9rem;
}
.contextodos h2
{   
    padding: 20px;
    align-content: center;
    text-align: center;
    font-size: 15rem;
    font-weight: bold;
}

    /* Cuerpo de la página */
body::-webkit-scrollbar
{
    width: 1rem;
}
body::-webkit-scrollbar-thumb
{
    background: var(--second-color);
    border-radius: 10px;
}
body
{
    background: var(--primary-color);
}

    /* seccion del loader */

.lds-circle 
{
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div
{
  display: inline-block;
  position: relative;
  width: 450px;
  height: 340px;
  background: url(img/logo.ico);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  animation: lds-circle 5s cubic-bezier(0, 0.5, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
.loader
{
    background: var(--four-color);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    clip-path: circle(300% at 100% 0%);
    transition: clip-path 3s ease-in-out;
}
.loader2
{
    clip-path: circle(0% at 0% 100%);
}
    /* inicio de card */
.bigdiv
{
    max-width: 100%;
    margin: 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.contenedor
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta
{
    text-align: center;
    max-width: 290px;
    margin: 15px 20px;
}
.tarjeta .arriba
{
    width: 290px;
    height: 190px;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    border-radius: 20px;
    z-index: 1;
    background: var(--primary-color);
    box-shadow: 0px 7px 5px 0px var(--four-color);
    transform: translateY(95px);
    transition: all ease .9s;
}
.tarjeta:hover .arriba
{
    transform: translateY(-10px);
    background: var(--second-color);
    border-radius: 20px;
    box-shadow: 0px 5px 18px var(--four-color);
    transition: .5s;
}
.tarjeta .arriba img
{
    width: 100%;
}
.tarjeta .abajo
{
    width: 100%;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    transform: translateY(-110px);
    transition: all ease .5s;
}
.tarjeta:hover .abajo
{
    transform: translateY(5px);
}
.abajo h4
{
    font-size: 3rem;
    font-weight:bold;
}
.abajo h5
{
    font-weight: bold;
    font-size: 2.5rem;
    color: green;
}
.abajo p
{
    font-size: 2rem;
    font-weight:bold;
}
.abajo a
{
    text-decoration: none;
    font-size: 2.3rem;
    display: inline-block;
    padding: 5px 15px;
    background: var(--four-color);
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 20px;
    transition: all .5s ease;
}
.abajo a:hover
{
    color: var(--four-color);
    background: var(--three-color);
    transform: scale(1.2);
}



/* pie de la página */
footer
{
    width: 100%;
    padding: 50px 0;
    background-image: url(img/background-footer.svg);
    background-size: cover;
}

.container_footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box_footer
{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.box_footer .logo img
{
    max-width: 250px;
}

.box_footer .redes
{
    max-width: 350px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 5rem;
    font-weight: bold;
    color: var(--second-color);
}

.box_footer h2
{
    margin-bottom: 30px;
    font-size: 3.4rem;
    font-weight: bold;
}

.box_footer a
{
    margin-top: 10px;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    color: var(--six-color);
}

.box_footer a:hover
{
    color: var(--three-color);
}

.box_footer a .fa
{
    padding: 16px;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: var(--four-color);
    border-radius: 50%;
    align-items: center;
    font-size: 3.5rem;
    text-decoration: none;
    transition: all .5s ease;
}

.box_footer a .fa:hover
{
    color: var(--three-color);
    box-shadow: 0px 0px 0px 0px;
    transform: translateY(-10px);
}

hr
{
    height: 5px;
    border: none;
    background: var(--three-color);
    border-radius: 50px;
}

.box_copyright
{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0 40px;
    font-size: 3rem;
    font-weight: bold;
}
.box_copyright p
{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}